/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
  background-color: #EBEBEB;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


.navbar-inverse .navbar-brand  {
  color: black;
}

.navbar.navbar-inverse.navbar-fixed-top {
  background-color: rgba(255, 255, 255, .97);
}

.navbar-inverse .navbar-nav > li > a {
  color: black;
}

.navbar-fixed-top {
    border-width: 0px;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #0099FF;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: #0099FF;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: black;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.carousel-indicators li {
  border: 1px solid black;
}

.carousel-indicators .active {
  background-color: black;
}

/* Carousel base class */
.carousel {
  height: 825px;
  margin-bottom: 20px;
  margin-top: -70px;
  padding-bottom: 70px; 
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  color: #000000;
  text-shadow: none;
}

/* Declare heights because of positioning of img element */
.carousel .item  {
  padding-top: 125px;
  height: 100%;
  background-color: #FFF;
}

.carousel-inner {
  margin-top: 0px;
  height: 825px;
}

.carousel-inner > .item:nth-child(1) > a > img {
  width: 692px;
}

.carousel-inner > .item:nth-child(2) > a > img {
  width: 692px;
}

.carousel-inner > .item:nth-child(3) > a > img {
  width: 692px;
}

.carousel-inner > .item:nth-child(4) > a > img {
  width: 918px;
}

.carousel-inner > .item > img {
  top:  0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  max-height: 505px;
}

.carousel-inner > .item > a > img {
  top:  0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  max-height: 505px;
}

.carousel-control {
  color: black;
}

.carousel-control.right { 
  background-image: none;
}
.carousel-control.left { 
  background-image: none;
}


/* ABOUT ME
-------------------------------------------------- */

.about-section > h2 {
  margin-top: 60px;
}

.divider-grey {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 50px;
    border-top: 2px solid #B3B3B1;
    padding-bottom: 35px;
}

.row > p {
  font-size: 17pt;
}

.row a img {
  width: 20%;
  height: 20%;
  margin-top: 15px;
  margin-bottom: 30px;
}

.row {
  font-size: 17pt;
  margin-bottom: 95px;
}

/* CONTACT ME
-------------------------------------------------- */

.contact-section {
  margin-bottom: 60px;
}

.contact-section > h2 {
  margin-top: 60px;
}

.contact-section > .row > .container > .glyphicon {
  font-size: 30pt;
}

.contact-section > .container > .glyphicon {
  font-size: 50pt;
}

.contact-section > .container > h3 {
  margin-top: 5px;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 20px;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
    text-align: left;
}

.floating-label-form-group-with-focus label {
    color: #4EAE4A;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}

form .row {
    margin-bottom: 0px;
}

form .row .form-group button {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

form .row .form-group p {
    color: #e74c3c;
    text-align: left;
}

/* FOOTER
-------------------------------------------------- */

hr.featurette-divider {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  border-color: black;
}

footer {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
